<div class="video-overlay-wrapper">
    <div class="video-container">
        <video class="background-video" [muted]="'muted'" autoplay loop>
            <source  src="assets\STORM.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container picture-and-name">
        <img src="assets\selfie.jpg">
        <h2 class="glitchy">Dean Payne</h2>
        <div class="container">
            <p>I have a strong interest in both cybersecurity and software development, blending security expertise with coding skills.</p>
        </div>
    </div>

    <div class="container bottom-overlay">
        <div class="scroll-for-more">
            <h3>Scroll for more!</h3>
            <i class="bi bi-arrow-down"></i>
        </div>
    </div>
</div>

<!-- <div class="main container-fluid">

    <div class="container">
        <mat-card>
            <mat-card-header>FitForge</mat-card-header>
            <mat-card-content>
                Developed a website...
            </mat-card-content>
        </mat-card>
    </div>
</div> -->

<router-outlet></router-outlet>