<div class="video-overlay-wrapper">
    <div class="video-container">
        <video class="background-video" [muted]="'muted'" autoplay loop>
            <source  src="assets\STORM.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container picture-and-name">
        <img src="assets\selfie.jpg">
        <h2 class="glitchy">Dean Payne</h2>
        <div class="container">
            <p>I have a strong interest in both cybersecurity and software development, blending security expertise with coding skills.</p>
        </div>
    </div>

    <div class="container bottom-overlay">
        <div class="scroll-for-more">
            <h3>Scroll for more!</h3>
            <i class="bi bi-arrow-down"></i>
        </div>
    </div>
</div>

<div class="main container-fluid">

    <h1 class="text-center project-title">Software Engineering Projects</h1>

    <div class="container">
        <div class="row">

            <div class="col-md-4 col-12 project-container">
                <mat-card class="project-card">
                    <mat-card-header class="header-container">
                        <div>
                            <h1>FitForge</h1>
                        </div>
                        <div class="project-technology-container">
                            <img class="project-technology-icon" src="assets\angular-image.png">
                            <img class="project-technology-icon" src="assets\mysql-icon.png" aria-label="MySQL">
                        </div>
                    </mat-card-header>
                    <img mat-card-image src="assets\fitforgeSS.png">
                    <mat-card-content>
                        <p>
                            Developed a fully functional website that generates currated, personal, and fun training programs
                            for newer gym attendees. The web application was capable of querying data from the mySQL back-end
                            and presenting the data to the user in the front-end. Also helped develop an algorithm that pulled
                            specific workouts for the user and populated a table with the associated target weight, repetitions,
                            and R.P.E.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Github</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="col-md-4 col-12">
                <mat-card class="project-card">
                    <mat-card-header class="header-container">
                        <div>
                            <h1>Weather App</h1>
                        </div>
                        <div class="project-technology-container">
                            <img class="project-technology-icon" src="assets\cplusplus-icon.png">
                            <img class="project-technology-icon" src="assets\qt-icon.png">
                        </div>
                    </mat-card-header>
                    <img mat-card-image src="assets\openweatherapi.png">
                    <mat-card-content>
                        <p>
                            Developed a C++ program that can accurately display the local weather depending on the user's location.
                            This works by accessing the OpenWeatherAPI and collecting the data into a XML file based on the coordinates
                            of the user. It then can accurately parse the data and present the data in a graphical user interface that i
                            implemented using the Qt C++ GUI framework.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Github</button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div class="col-md-4 col-12">
                <mat-card class="project-card">
                    <mat-card-header>
                        <h1>FitForge</h1>
                    </mat-card-header>
                    <img mat-card-image src="assets\fitforgeSS.png">
                    <mat-card-content>
                        <p>
                            Developed a fully functional website that generates currated, personal, and fun training programs
                            for newer gym attendees. The web application was capable of querying data from the mySQL back-end
                            and presenting the data to the user in the front-end. Also helped develop an algorithm that pulled
                            specific workouts for the user and populated a table with the associated target weight, repetitions,
                            and R.P.E.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Github</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-12">
                <mat-card class="project-card">
                    <mat-card-header>
                        <h1>FitForge</h1>
                    </mat-card-header>
                    <img mat-card-image src="assets\fitforgeSS.png">
                    <mat-card-content>
                        <p>
                            Developed a fully functional website that generates currated, personal, and fun training programs
                            for newer gym attendees. The web application was capable of querying data from the mySQL back-end
                            and presenting the data to the user in the front-end. Also helped develop an algorithm that pulled
                            specific workouts for the user and populated a table with the associated target weight, repetitions,
                            and R.P.E.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Github</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4 col-12">
                <mat-card class="project-card">
                    <mat-card-header>
                        <h1>FitForge</h1>
                    </mat-card-header>
                    <img mat-card-image src="assets\fitforgeSS.png">
                    <mat-card-content>
                        <p>
                            Developed a fully functional website that generates currated, personal, and fun training programs
                            for newer gym attendees. The web application was capable of querying data from the mySQL back-end
                            and presenting the data to the user in the front-end. Also helped develop an algorithm that pulled
                            specific workouts for the user and populated a table with the associated target weight, repetitions,
                            and R.P.E.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Github</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4 col-12">
                <mat-card class="project-card">
                    <mat-card-header>
                        <h1>FitForge</h1>
                    </mat-card-header>
                    <img mat-card-image src="assets\fitforgeSS.png">
                    <mat-card-content>
                        <p>
                            Developed a fully functional website that generates currated, personal, and fun training programs
                            for newer gym attendees. The web application was capable of querying data from the mySQL back-end
                            and presenting the data to the user in the front-end. Also helped develop an algorithm that pulled
                            specific workouts for the user and populated a table with the associated target weight, repetitions,
                            and R.P.E.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Github</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>